{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <!-- Hero Section -->
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="display-4">Bienvenue sur Garalib</h1>
                <p class="lead">Prise de rendez-vous simple et efficace entre un client et un garagiste.</p>
            </div>
        </section>

        <!-- Features Section -->
        <section class="mt-4 d-flex justify-content-center">
                <img class="rounded" src="https://images.caradisiac.com/images/5/4/4/8/175448/S0-les-vehicules-de-fonction-preferes-des-francais-587173.jpg" alt="" width="1000">
        </section>

    </div>
{% endblock %}
