{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}

   <h1>Technicien registration</h1>

   <div class="w 25 d-flex flex-column align-items-center">

       {% if formTechnicien is defined and formTechnicien is not empty %}
         {{ form_errors(formTechnicien) }}

         {{ form_start(formTechnicien) }}
         {{ form_row(formTechnicien.qualifications, {'attr': {
            'class': 'form-control my-3'
         }}) }}

         <button type="submit" class="btn btn-primary my-4">Register</button>
         {{ form_end(formTechnicien) }}
      {% endif %}
   </div>
{% endblock %}
